<div class="span">
                <span>
                    <div class="navbar">
                        <div class="tabwithlogo">
                            <div class="homeimage">
                                <a href="index.html"><img
                                        src="/images/home.png"
                                        class="HomeLogoImage" alt=""></a>
                            </div>
                            <a href="/home"> <button class="homebtn"
                                    type="submit">Home</button></a>
                        </div>

                        <div class="tabwithlogo">
                            <div class="homeimage ">
                                <img src="/images/circular.png"
                                    class="HomeLogoImage" alt="">
                            </div>
                            <button class="studentcorner" id="studentcornerbtn"
                                type="submit">Student Corner</button>
                        </div>
                        <!--<div class="tabwithlogo">
                            <div class="homeimage">
                                <a href="#"><img
                                        src="../Media/Images/coursemanagement.png"
                                        class="HomeLogoImage" alt=""></a>
                            </div>
                            <button class="studentdetail">Student Details</button>
                        </div>-->

                        <!-- <button class="Logout">Logout</button> -->
                    </div>
                </span>
            </div>
            <ul id="dropdownitems" class="dropdown-content">
                <li><a href="/Notice">Notices</a></li>
                <li><a href="/CircularHomeinterface"> Circulars</a></li>
                <li><a href="/TImeTableMain">Time Table</a></li>
                <li><a href="/CourseallotmentMain">Course Allotment</a></li>
            </ul>