.updation {
    border: 2px solid;
    margin-left: auto;
    background-color: darkgrey;
    margin-right: auto;
    margin-top: 1%;
    width: 80%;
    min-width: 400px;
    height: 700px;
    margin-bottom: 5px;
    padding: 2%;
}

.deletenotice {
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    margin-left: auto;
    display: flex;
    margin-right: auto;
    width: 98%;
    border: 2px solid;
    margin-top: 1%;
    margin-bottom: 2px;
    padding: 2px 10px 2px 10px;
}

.deletingnotices {
    display: block;
    background: #03053ae8;
    border: 2px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 94%;
    min-width: 400px;
    height: 400px;
    overflow: auto;
}