<body>
{{>header}}
    {{>navbar}}
    <div class="baseforeverypage">
        <div class="mainframe">
            <h3>Add New External Circular Details </h3>
        <div class="uploadnotices">
        <form action="" method="post">
            <div class="subclass">
                <label for="">Heading/Topic</label>
                <input type="text" id="noticeheading" required>
            </div>
            <div class="subclass">
                <label for="">External Circular Notice:</label>
                <textarea name="" rows="20" id="textarea" required></textarea>
            </div>
            <div class="subclass">
                <label for="">Upload PDF file as Proof</label>
                <input type="file" id="file" required>
            </div>
            <div class="subclass">
                <label for="">Event is on :</label>
                <input type="date" name="" id="date" required>
            </div>
            <div class="subclass"></div>          
        </form>
        <button class="uploadsubmit">UPLOAD</button>
        </div>
        </div>
    </div>
    {{>footer}}
    <script src="/js/script.js"></script>
</body>
</html>