{{>header}}
{{>navbar}}
<body>

    <div class="baseforeverypage">
        <div class="updation">
            <h3>Delete Placement Notices</h3>
            <div class="deletingnotices">
                <div class="deletenotice">
                    <div class="info">Placement Notice Info</div>
                    <button class="delete">Delete</button>
                </div>

                <div class="deletenotice">
                    <div class="info">Placement Notice Info</div>
                    <button class="delete">Delete</button>
                </div>

                <div class="deletenotice">
                    <div class="info">Placement Notice Info</div>
                    <button class="delete">Delete</button>
                </div>
                
                <div class="deletenotice">
                    <div class="info">Placement Notice Info</div>
                    <button class="delete">Delete</button>
                </div>
                
                <div class="deletenotice">
                    <div class="info">Placement Notice Info</div>
                    <button class="delete">Delete</button>
                </div>
            </div>
       </div>
    </div>
    {{> footer}}
            <script src="/js/script.js"></script>
</body>