{{>header}}
<body>
{{>navbar}}
    <div class="baseforeverypage">
        <div class="updation">
            <h3>Delete Internal Circular</h3>
            <div class="deletingnotices">
                <div class="deletenotice">
                    <h4>Delete Internal circular Info</h4>
                    <button class="delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
            <script src="/js/script.js"></script>
</body>