{{>header}}
{{>navbar}}
<body>
    <div class="baseforeverypage">
        <div class="updation">
            <h3>Delete Placement Result Notices</h3>
            <div class="deletingnotices">
                 <div class="deletenotice">
                    <div class="info">Placement Result Info</div>
                    <a href="/Uploadupdatedresultsofplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>
                
                 <div class="deletenotice">
                    <div class="info">Placement Result Info</div>
                    <a href="/Uploadupdatedresultsofplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>

                 <div class="deletenotice">
                    <div class="info">Placement Result Info</div>
                    <a href="/Uploadupdatedresultsofplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>

                 <div class="deletenotice">
                    <div class="info">Placement Result Info</div>
                    <a href="/Uploadupdatedresultsofplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>

                 <div class="deletenotice">
                    <div class="info">Placement Result Info</div>
                    <a href="/Uploadupdatedresultsofplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>

                 <div class="deletenotice">
                    <div class="info">Placement Result Info</div>
                    <a href="/Uploadupdatedresultsofplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>

                 <div class="deletenotice">
                    <div class="info">Placement Result Info</div>
                    <a href="/Uploadupdatedresultsofplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>

                 <div class="deletenotice">
                    <div class="info">Placement Result Info</div>
                    <a href="/Uploadupdatedresultsofplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>
            </div>
      </div>
    </div>
    {{> footer}}
            <script src="/js/script.js"></script>
</body>