{{>header}}
{{>navbar}}
<body>
    <div class="baseforeverypage">
        <div class="updation">
            <h3>Edit Placement Notices</h3>
            <div class="deletingnotices">
                <div class="deletenotice">
                    <div class="info">Placement Info</div>
                    <a href="/Uploadupdatedplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>
                
                <div class="deletenotice">
                    <div class="info">Placement Info</div>
                    <a href="/Uploadupdatedplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>

                <div class="deletenotice">
                    <div class="info">Placement Info</div>
                    <a href="/Uploadupdatedplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>

                <div class="deletenotice">
                    <div class="info">Placement Info</div>
                    <a href="/Uploadupdatedplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>

                <div class="deletenotice">
                    <div class="info">Placement Info</div>
                    <a href="/Uploadupdatedplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>

                <div class="deletenotice">
                    <div class="info">Placement Info</div>
                    <a href="/Uploadupdatedplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>

                <div class="deletenotice">
                    <div class="info">Placement Info</div>
                    <a href="/Uploadupdatedplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>

                <div class="deletenotice">
                    <div class="info">Placement Info</div>
                    <a href="/Uploadupdatedplacementnotices"><button class="updatesubmit">UPDATE</button></a>
                </div>
            </div>
       </div>
    </div>
    {{> footer}}
            <script src="/js/script.js"></script>
</body>