<html lang="en">
{{> header }}
    <body>
 {{> navbar}} 
            {{> address}}
            <br>
            <br>
            <div class="baseforeverypage">
                <div class="mainframe">
                    <div class="notice-tab">
                        <a href="Notice.html"> <button>Notices</button>
                        </a>
                    </div>
                    <div class="courseallotment-tab">
                        <a href="CourseallotmentMain.html"><button>Course
                                Allotment</button></a>
                    </div>
                    <div class="time-table-tab">
                        <a href="TImeTableMain.html"><button>Time Table</button></a>
                    </div>
                    <div class="circular-tab">
                        <a href="CircularHomeinterface.html"> <button>Circulars</button></a>
                    </div>
                </div>
            </div>
            {{> footer}}
            <script src="../JS/script.js"></script>
        </body>
    </html>