<html lang="en">
{{> header }}
<body>
    {{> navbar }}
    <div class="container-fluid">
        <h2>User Profile</h2>
        <img src="/images/contact.png" alt="">
        <h2>Name : {{user.Name}}</h2>
        <h4>Mobile Number : {{user.Phone_Number}}</h4>
        <h4>E-mail : {{user.Email}}</h4>
    </div>
    {{> footer}}
    <script src="/js/script.js"></script>
</body>
</html>