<body>
  {{>toppart}}
            <div class="baseforeverypage">
                <!-- sidebar -->
                <!-- sidebar -->
                <div class="mainframe">
                    <h1>Course Allotment for 4th year using Algorithm</h1>
                </div>
            </div>
            {{> footer}}
            <script src="/js/script.js"></script>
        </body>
    </html>