<body>
  {{>toppart}} 
  <h1 style="background:white; text-align:center;padding:1%">Student Course Allotment Home</h1>
      <div class="baseforeverypage">
        <!-- sidebar -->
        <!-- sidebar -->
        <div class="mainframe">
          <div class="secondyr">
            <input type="text" readonly="" value="Second Year ">
            <br>
            <div class="courseallotment-dropdown">

              <button><a href="/StudentCourseallotment2yr"> Semester 1 </a></button>
              <br>
              <button><a href="/StudentCourseallotment2yr"> Semester 2 </a></button>

            </div>
          </div>
          <div class="thirdyr">
            <input type="text" readonly="" value="Third Year ">
            <br>
            <div class="courseallotment-dropdown">

              <button><a href="/StudentCourseallotment3yr"> Semester 1 </a></button>
              <br>
              <button><a href="/StudentCourseallotment3yr"> Semester 2 </a></button>

            </div>
          </div>
          <div class="finalyr">
            <input type="text" readonly="" value="Final Year ">
            <br>
            <div class="courseallotment-dropdown">

              <button><a href="/StudentCourseallotment4yr"> Semester 1 </a></button>
              <br>
              <button><a href="/StudentCourseallotment4yr"> Semester 2 </a></button>

            </div>
          </div>
        </div>
      </div>
    </div>
    {{> footer}}
    <script src="/js/script.js"></script>
  </body>
</html>