<html lang="en">
<body>
  {{>toppart}}
            <div class="baseforeverypage">
                <div class="mainframe">
                    <div class="notice-tab">
                        <a href="/StudentNoticehomepage"> <button>Notices</button>
                        </a>
                    </div>
                    <div class="courseallotment-tab">
                        <a href="/StudentCourseallotmentMain"><button>Course
                                Allotment</button></a>
                    </div>
                    <div class="time-table-tab">
                        <a href="/StudentTImeTableMain"><button>Time Table</button></a>
                    </div>
                    <div class="circular-tab">
                        <a href="/StudentCircularHomeinterface"> <button>Circulars</button></a>
                    </div>
                </div>
            </div>
            {{> footer}}
            <script src="/js/script.js"></script>
        </body>
    </html>