  
<body>
  {{>toppart}}
  <h1 style="background:white; text-align:center;padding:1%">Student Time Table Home</h1>
      <div class="baseforeverypage">
        <!-- sidebar -->
        <!-- sidebar -->
        <div class="mainframe">
          <div class="secondyr">
            <input type="text" readonly="" value="Second Year Time Table">
            <br>
            <div class="timetable-dropdown">

              <button><a href="/StudentTimeTable2yr"> Semester 1</a></button>
              <br>
              <button><a href="/StudentTimeTable2yr"> Semester 2</a></button>

            </div>
          </div>
          <div class="thirdyr">
            <input type="text" readonly="" value="Third Year Time Table">
            <br>
            <div class="timetable-dropdown">

              <button><a href="/StudentTimeTable3yr"> Semester 1</a></button>
              <br>
              <button><a href="/StudentTimeTable3yr"> Semester 2</a></button>

            </div>
          </div>
          <div class="finalyr">
            <input type="text" readonly="" value="Final Year Time Table">
            <br>
            <div class="timetable-dropdown">

              <button><a href="/StudentTimeTable4yr"> Semester 1</a></button>
              <br>
              <button><a href="/StudentTimeTable4yr"> Semester 2</a></button>

            </div>
          </div>
        </div>
      </div>
      {{> footer}}
      <script src="/js/script.js"></script>
    </body>
  </html>