<body>
    {{>toppart}}
            <h1 style="background:white; text-align:center;padding:1%">Student Notices Home</h1>
            <div class="baseforeverypage">
                <div class="mainframe">
                    <div class="subtabsNotice">
                        <div class="editdelete">
                            <div class="departmentnotices">
                                <div class="departmentrelatedNoticehead">Notices
                                <hr></div>
                                <span class="detailing-of-notices">
                                <a href="/StudentNotices"><div class="subclassofnotice">Notice 1</div></a> 
                                <a href="/StudentNotices"><div class="subclassofnotice">Notice 2</div></a> 
                                <a href="/StudentNotices"><div class="subclassofnotice">Notice 3</div></a> 
                                <a href="/StudentNotices"><div class="subclassofnotice">Notice 4</div></a> 
                                <a href="/StudentNotices"><div class="subclassofnotice">Notice 5</div></a> 
                                <a href="/StudentNotices"><div class="subclassofnotice">Notice 6</div></a> 
                                <a href="/StudentNotices"><div class="subclassofnotice">Notice 7</div></a> 
                                <a href="/StudentNotices"><div class="subclassofnotice">Notice 8</div></a> 
                                <a href="/StudentNotices"><div class="subclassofnotice">Notice 9</div></a> 
                                <a href="/StudentNotices"><div class="subclassofnotice">Notice 10</div></a> 
                                </span>
                           </div>
                        </div>
                        
                        <div class="editdelete">
                        <div class="placementrelatedNotice">
                            <div class="placementrelatedNoticehead">
                                Placement Notices<hr>
                            </div>
                            <span class="detailing-of-notices">
                                <a href="/StudentPlacementNotices"><div class="subclassofnotice">Company 1</div></a> 
                                <a href="/StudentPlacementNotices"><div class="subclassofnotice">Company 2</div></a> 
                                <a href="/StudentPlacementNotices"><div class="subclassofnotice">Company 3</div></a> 
                                <a href="/StudentPlacementNotices"><div class="subclassofnotice">Company 4</div></a> 
                                <a href="/StudentPlacementNotices"><div class="subclassofnotice">Company 5</div></a> 
                                <a href="/StudentPlacementNotices"><div class="subclassofnotice">Company 6</div></a> 
                                <a href="/StudentPlacementNotices"><div class="subclassofnotice">Company 7</div></a> 
                                <a href="/StudentPlacementNotices"><div class="subclassofnotice">Company 8</div></a> 
                                <a href="/StudentPlacementNotices"><div class="subclassofnotice">Company 9</div></a> 
                                <a href="/StudentPlacementNotices"><div class="subclassofnotice">Company 10</div></a> 
                            </span>
                        </div>
                        </div>
                        <div class="editdelete">
                            <div class="resultrelatedNotices">
                                <div class="resultofplacementNoticehead">
                                Result of Placements <hr>
                                </div>
                                <span class="detailing-of-notices">
                                    <a href="/StudentPlacementResultNotices"> <div class="subclassofnotice">Result of Company 1</div></a>                                
                                    <a href="/StudentPlacementResultNotices"> <div class="subclassofnotice">Result of Company 2</div></a>                                
                                    <a href="/StudentPlacementResultNotices"> <div class="subclassofnotice">Result of Company 3</div></a>                                
                                    <a href="/StudentPlacementResultNotices"> <div class="subclassofnotice">Result of Company 4</div></a>                                
                                    <a href="/StudentPlacementResultNotices"> <div class="subclassofnotice">Result of Company 5</div></a>                                
                                    <a href="/StudentPlacementResultNotices"> <div class="subclassofnotice">Result of Company 6</div></a>                                
                                    <a href="/StudentPlacementResultNotices"> <div class="subclassofnotice">Result of Company 7</div></a>                                
                                    <a href="/StudentPlacementResultNotices"> <div class="subclassofnotice">Result of Company 8</div></a>                                
                                    <a href="/StudentPlacementResultNotices"> <div class="subclassofnotice">Result of Company 9</div></a>                                
                                    <a href="/StudentPlacementResultNotices"> <div class="subclassofnotice">Result of Company 10</div></a>  
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> footer}}
            <script src="/js/script.js"></script>
        </body>
    </html>